body {
	text-align: center;
}

h1, h2, h3, h4, h5 {
	font-family: 'Great Vibes', serif;
}

p, button {
	font-family: 'Alegreya Sans', sans-serif;
}

p {
	font-size: 25px;
}

h1 {
	font-size: 45px;
}

.clueButtons {
	margin-top: 15px;
}

.clue {
	border: 1px solid gray;
	padding: 5%;
	background-color: #ffffff;
}

.landingBackground {
	background: url(images/landingBackground.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.skyBackground {
	background-color: #a8ebf6;
}

.sandBackground {
	background-color: #faebc2;
}

.tabBarItem {
	border: 1px solid black;
}

#lostButton {
	margin: auto;
}

#appIcon {
	height: 75px;
}

#backImage {
	height: 60px;
	padding-top: 10px;
}

#tagline {
	font-size: 30px;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#bottomNav {
	padding:10px;
}
#bottomNav a {
    font-size:20pt;
    color: black;
    text-decoration:none;
}
#bottomNav a:hover {
    color:#fff;
}