body {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Great Vibes', serif;
}

p, button, li {
	font-family: 'Alegreya Sans', sans-serif;
}

p {
	font-size: 20px;
}

h1 {
	font-size: 40px;
}

.thirtySix {
	font-size: 36px;
}

.alignLeft {
	text-align: left;
}

.clue {
	border: 2px solid #a8ebf6;
	padding: 5%;
}

.clue p {
	font-size: 16px;
	line-height: 1.25;
}

.landingBackground {
	background: url(images/landingBackground.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.skyBackground {
	background-color: #a8ebf6;
}

.sandBackground {
	background-color: #faebc2;
}

.largerText {
	font-size: 30px;
}

#brideGroomButton {
	color: #52585c;
}

#lostButton {
	margin: auto;
}

#appIcon {
	height: 40px;
}

#backImage {
	height: 60px;
	padding-top: 10px;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#bottomNav {
	padding:0px;
}
#bottomNav a {
    font-size:15pt;
    font-family: 'Great Vibes', serif;
    color: #ffffff;
    text-decoration:none;
    text-shadow: 0.3px 0.3px gray;
}
#bottomNav a:hover {
    color:red;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 20px;
    font-weight: normal;
    color: white;
    background-color: #a8ebf6;
    font-family: 'Alegreya Sans', sans-serif;
    display: inline-block;

    margin-top: 5%;
	  padding: 10px 16px;
	  line-height: 1;
	  width: 40%;
	  height: 15%;
	  border-radius: 3px;
}

input {
	width: 200px;
	height: 50px;
	background-color: red;
}

#instructionModal, #lostModal {
  position: absolute;
  top: 25%;
}

#tabBarItem1 {
	border-right: 1px solid #ffffff;
	padding-top: 0;
	padding-bottom: 0;
}

#tabBarItem2 {
	border-left: 1px solid #ffffff;
	padding-top: 0;
	padding-bottom: 0;
}

#imageFeed {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
